<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies</title>
    <link rel="stylesheet" href="/css/genereales.css">
</head>
<body>
    <%-include('./partials/headerMovies.ejs') %>
    <div class="contenedor-body">
    <h1> Nuevas de peliculas </h1>
    <ul>
        <% resultado.forEach(e => { %>
            <li>
                <a href="/movies/details/<%= e.id %>"><%= e.title %> </a>
            </li> 
        <% }) %>
    </ul>
</div>
</body>
</html>