<header>
    <div class='header-container'>
            <div class='titles' >
                <ul>
                    <li class="li-menu"><a class="boton-menu" href="/movies"> Peliculas </a></li>
                    <li class="li-menu"><a class="boton-menu" href="/movies/new"> Estrenos </a></li>
                    <li class="li-menu"><a class="boton-menu" href="/movies/recommended">Mejor Puntuadas</a></li>    
                    <li class="li-menu"><a class="boton-menu" href="/actors"> Actores </a></li>
                    
               </ul>
            </div>
            
            

    </div>
</header>