<header>
    <div class='header-container'>
            <div class='titles' >
                <ul>
                    <li class="li-menu"><a class="boton-menu" href="/actors"> Actores </a></li>
                    <li class="li-menu"><a class="boton-menu" href="/actors/recommended"> Mejos actores </a></li>
                    <li class="li-menu"><a class="boton-menu" href="/movies"> Peliculas </a></li>
                      
                    
               </ul>
            </div>
            
            

    </div>
</header>